* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(120, 138, 132);
}

body{
    background-color: blueviolet;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main {
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 15px;
}

.inputVal{
    height: 2.5rem;
    width: 2rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    border: 0.1rem solid red;
    margin: 0.15rem;
    background-color: rgb(218, 213, 213);
}

.container {
    width: 350px;
    height: 350pxpx;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 10px;
}


.solved{
    font-size: 1.5rem;
    font-weight: bolder;

    padding: 7px 12px;
    margin: 20px 30px;
}

/* .table-success{
    margin: 0;
    padding: 0;
} */