{% extends 'base.html' %} {% load static %} {% block css %}
<link href="{% static 'index.css' %}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
  rel="stylesheet"
/>

<style>
  .solved{
    display: {{visual}};
    border-radius: 10px;
  }
</style>

{% endblock css %} 

{% block content %}

<div class="d-flex justify-content-center  my-3 p-4">
  <div class="col-md-6 shadow rounded text-bg-secondary p-4">
    <h3>
      Please follow the following rules-
    </h3>
    <ol>
      <li> <b>If cell is empty - please leave 0:</b> This rule simply means that if a cell in the Sudoku grid does not
        contain a number, it should be represented as "0."</li>

      <li><b>Should be unique number in each row and column:</b> This is a key rule in Sudoku. It means that within each
        row and each column of the Sudoku grid, every number from 1 to 9 (assuming a 9x9 grid) must appear exactly once.
        This uniqueness constraint is what makes Sudoku challenging and interesting.</li>

      <li><b>Also should be unique number in each 3x3 sector:</b> In addition to uniqueness within rows and columns,
        Sudoku is divided into 3x3 sectors (also known as boxes or regions). Each number from 1 to 9 should also be
        unique within each of these 3x3 sectors.</li>
    </ol>
  </div>
</div>

<div class="main">
  <div class="container mx-0 justify-content-center sudoku shadow rounded">
    <form action="/" method="post" class="my-2">
      {% csrf_token %}

      <table class="table-success">
        {% for i in "123456789" %}
        <tr>
          {% for j in "123456789" %}
          <td>
            <input
              type="number"
              name="num{{i}}{{j}}"
              id="num{{i}}{{j}}"
              min="0"
              max="9"
              value="0"
              class="inputVal"
            />
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <div class="d-flex justify-content-center my-2">
        <button class="mx-2 btn btn-success" type="submit">Submit</button>
        <a class="mx-2 btn btn-primary" type="button" href=""> Reset </a>
      </div>
    </form>
  </div>
  <div>
    
  
    <div class="col-md-12">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
      
      <div class="container mx-0 justify-content-center solved sudoku shadow rounded">
    <table class="table-success">
      {% for i in board %}
      <tr>
        {% for j in i %}
        <td>
          <input
            type="number"
            value="{{j}}"
            class="outputVal"
            disabled
            />
            </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </table>

</div>
  </div>
</div>
{% endblock content %}
